.contenedor-card {
    padding-top: 40px;
    width: 100%;
    margin: auto;
    display: table;
    max-width: 1100px;
    /*border: 1px solid;*/
    inset-inline: center;
}

#card {
    margin: 10px;
    margin-left: 20px;
    width: 150px;
    border: 1px solid #b0c4de;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    display: table;
    text-align: center;
}

#card:hover {
    margin: 10px;
    width: 100px;
    border: 2px solid rgb(182, 3, 3);
    overflow: hidden;
}
.img-card {
    width: 180px;
}

#card:hover .img-card {
    display: table;
    transition: all 600ms;
    transform: scale(1.2);
}

#card > h1 {
    text-align: center;
    position: relative;
    color: blue;
    font-family: "Fredoka One", cursive;
    font-size: small;
}

#card > .boton button {
    align-items: center;
    background-color: #7efc007e;
    font-family: "Fredoka One", cursive;
    color: black;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    overflow: hidden;
}

#card > .boton button:hover {
    background-color: white;
    border-color: rgb(182, 3, 3);
    color: rgb(182, 3, 3);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
}

.boton {
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

span {
    display: block;
    font-family: "Fredoka One", cursive;
    margin-bottom: 5px;
}

/* productos destacados */

.destacados {
    display: flex;
}

.titulo {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    background-color: #b0c4de;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: "Fredoka One", cursive;
    display: table;
}

.produc-destacados {
    font-family: "Fredoka One", cursive;
    width: 100px;
    display: table;
    text-align: center;
}

.produc-destacados h4 {
    padding-left: 4px;
    padding-right: 4px;
    color: #f39c12;
}

.titulo2 {
    width: 100%;
    margin-top: 50px;
    background-color: white;
    font-family: "Fredoka One", cursive;
    display: flex;
}
.contenedor {
    float: right;
}

.contenedor ul li {
    list-style: none;
    float: left;
}
