.contenido-footer {
    width: 100%;
    text-align: center;
    height: 400px;
}

.info {
    background-color: black;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info > ul {
    display: table;
    margin-left: 120px;
}

.info ul li {
    list-style: none;
    padding: 20px;
}

.info ul p {
    font-size: larger;
}

.targetas {
    height: 300px;
    display: block;
}

.targetas ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin: 20px;
}

.targetas ul li {
    list-style: none;
    margin: 20px;
    color: #70a1ff;
}
